.carousel {
  background-color: $grey;
  padding-top: clamp(50px, 5vw, 100px);
  padding-bottom: clamp(50px, 5vw, 100px);;
  margin-right: -12.5%;

  @include respond-to(980px) {
    margin-right: -25%;
  }

  @include respond-to($small) {
    padding-right: 30px;
    margin-right: 0;
  }

  .slick-list {
    padding-top: clamp(50px, 5vw, 100px);;
    padding-bottom: clamp(50px, 5vw, 100px);;
  }

  .wpcp-post-thumb.skip-lazy{
    object-position: top;
  }

  #sp-wp-carousel-free-id-395 {
    padding: 0;
  }

  .semiopaque {
    opacity: 0.3;
  }

  .carousel-title {
    font-size: $f36;
    font-weight: 500;
    line-height: 150%;
  }

  &.about {
    padding-top: 0;
    .slick-list{
      padding-top: 0;
      padding-bottom: 0;
    }
    .slick-slide {
      aspect-ratio: 1/1;
      background: white;
      height: auto;
      min-height: unset;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .wpcp-single-item {
        background: #fff !important;
        border: unset !important;
        height: 100%;


        * {
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;
        }
      }

      img {
        max-height: 200px !important;
        //width: 56%;
        //height: 100%;
        object-fit: contain;
      }
    }
  }

  .slick-slide {
    min-height: 460px;
    @include respond-to($small) {
      min-height: 375px;
    }

    img {
      width: 100%;
      aspect-ratio: 405/240;
      object-fit: cover;
    }

    .wpcp-all-captions {
      min-height: 224px;
      position: relative;

      .read-more {
        position: absolute;
        bottom: 20px;
      }

      .wpcp-post-meta, .wpcp-post-title, .read-more {
        left: 7%;
        position: absolute;
        max-width: 86%;

      }

      .wpcp-post-meta {
        top: 37px;

        time {
          color: #343434;
          font-size: 14px;
        }
      }

      .wpcp-post-title {
        top: 70px;
        @include line-clamp(3);

        a {
          color: #343434 !important;
          font-size: $f18 !important;
          line-height: 150% !important;

          @include respond-to($small) {
            font-size: 14px !important;
          }

          font-weight: 500;
          text-align: left;
        }
      }
    }
  }
}
.wpcpro-wrapper .wpcp-carousel-section.nav-vertical-center{
  padding: 0;
}

.slick-next {
  position: absolute;
  left: 85% !important;
  margin-left: -5%;

  @include respond-to($large) {
    margin-left: -10%;
  }

  @include respond-to(980px) {
    margin-left: -25%;
  }

  @include respond-to(735px) {
    left: initial !important;
    margin-left: 40px;
  }
}

.slick-arrow {
  background-color: $grenade !important;
  border: none !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  @include respond-to($xl) {
    width: 50px;
    height: 50px;
  }
}

.slick-prev {
  display: none !important;
}

//remove capitalize
#wpcpro-wrapper-395 #sp-wp-carousel-pro-id-395.sp-wpcp-395 .wpcp-all-captions h2.wpcp-post-title a{
  text-transform: none;
}
