.hero {
  height: 35vw;
  width: 100vw;
  display: flex;

  &__content {
    width: 50%;
    height: 100%;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .socials {
    opacity: 75%;

    span {
      color: $blue;
    }
  }

  &__text {
    color: $white;
    font-size: $f24;
    width: 80%;
  }

  &__image {
    width: 50%;
    height: 100%;
    background-image: url('../../assets/hero.jpg');
    background-size: cover;
    position: relative;
    background-position: center top;

    .post {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  &__description {
    background-color: $grenade;
    color: $white;
    position: relative;
    top: -20%;
    width: 35vw;
    padding: clamp(25px, 2.5vw, 50px);


    .title {
      font-size: $f24;
      padding-bottom: 10px;
    }

    .text {
      font-size: $f16;
      padding-bottom: 10px;
    }
  }
}


@include respond-to($xl) {
  .hero {
    height: 50vw;
    &__description {
      width: 100%;
    }
  }
}

@include respond-to($large) {
  .hero {


    &__description {
      top: -25%;

      .title {
        font-size: $f18;
      }
    }
  }
}


@include respond-to($medium) {
  .hero {
    height: 50vw;
  }
}

@include respond-to($small) {
  .hero {
    height: auto;
    flex-direction: column;

    &__description {
      padding: 30px;
    }

    &__content {
      width: 100%;
      height: clamp(400px, 50vw, 600px);
    }

    &__image {
      width: 100%;

    }
  }
}
