.motto {
  background-color: $grey;
  padding-top: clamp(50px, 5vw, 100px);;
  padding-bottom: clamp(50px, 5vw, 100px);;
  @include flex();
  width: 100%;

  .column {
    width: 50%;
  }

  &__title {
    margin-right: 2.5vw;
    font-size: clamp(24px, 2.5vw, 36px);
    font-weight: 500;
    padding-bottom: 2.5vw;
  }

  &__text {
    font-size: 18px;
    padding-bottom: 2.5vw;
  }
}

@include respond-to($large) {
  .motto {
    flex-direction: column;
    gap: 25px;

    .column {
      width: 100%;
    }

    &__title {
      padding-bottom: 0;
    }

    &__text {
      font-size: 16px;
    }
  }
}

