.profits {
  background-color: $grey;
  padding-top: clamp(50px, 5vw, 100px);;
  padding-bottom: clamp(50px, 5vw, 100px);;

  &__title {
    color: $blue;
    text-decoration: none;
    text-align: right;
  }

  .cards {
    padding-top: clamp(25px, 2.5vw, 50px);
    @include flex(flex-start, space-between);
    gap: clamp(25px, 2.5vw, 50px);
    width: 100%;
  }

  .card {
    background-color: $white;
    border: 8px solid $grenade;
    position: relative;
    padding: clamp(25px, 2.5vw, 50px);
    width: clamp(330px, 20vw, 385px);
    min-height: 420px;
    @include flex();
    flex-direction: column;

    .arrow {
      margin-top: auto;
    }


    &:after {
      content: url("/wp-content/themes/zig-template/assets/border-ornamnet.jpg");
      position: absolute;
      top: -8px;
      right: -8px;
    }

    .title {
      font-size: 32px;
      font-weight: bold;
      color: $blue;
      position: relative;
      z-index: 2;
    }

    .text {
      padding-top: 1vw;
      font-size: clamp(14px, 1.5vw, 18px);
      color: $blue;
      padding-bottom: 1vw;

    }
  }
}

@include respond-to($xl) {
  .profits {
    .card {
      width: 25vw;
      min-height: 385px;

      .title {
        font-size: clamp(20px, 2vw, 32px);
      }
    }
  }
}

@include respond-to($medium) {
  .profits {
    .cards {
      flex-direction: column;

      & > a {
        width: 100%;
      }
    }

    .card {
      width: 100%;
      min-height: unset;
    }
  }

}
