.slogan {
  padding-top: clamp(50px, 5vw, 100px);;
  padding-bottom: clamp(50px, 5vw, 100px);;
  @include flex();
  width: 100%;

  .title {
    width: 50%;
    color: $blue;
    margin-right: 2.5vw;
  }

  .text {
    width: 50%;
    font-size: clamp(24px, 1.3vw, 36px);
  }
}

@include respond-to($large) {
  .slogan {
    .text {
      font-size: 16px;
    }
  }
}

@include respond-to($small) {
  .slogan {
    flex-direction: column;
    gap: 25px;

    .title, .text {
      width: 100%;
    }
  }
}
