.frontpage-title {
  color: white;
  line-height: 150%;
  text-decoration: underline;
  text-underline-offset: .8vh;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $f72;
}

.subpage-title {
  color: $blue;
  font-size: $f48;
  font-weight: bold;
  line-height: 150%;
  text-decoration: underline;
  text-underline-offset: .5vw;

  &.white {
    color: white;
    font-weight: 500;
    font-size: $f48;


  }
}

.subpage-text {
  font-size: $f24;
  font-weight: 500;

  p {
    padding-bottom: 10px;
  }
}

.subpage-header {
  font-size: $f36;
  font-weight: 500;
  padding-top: clamp(50px, 5vw, 100px);;
  padding-bottom: clamp(50px, 5vw, 100px);;

  &.white {
    color: white;
  }
}
