.contact {
  @include flex(flex-start, space-between);
  position: relative;
  padding-bottom: clamp(50px, 5vw, 100px);

  .subpage-banner {
    flex-direction: column;
    gap: 2.5vw;
  }

  .subpage-text {
    text-align: left;
  }

  form {
    p {
      text-align: left;
    }
  }

  .data {
    background-color: $blue;
    color: white;
    right: 0;
    margin-top: 5vw;
    position: relative;
    width: 30vw;
    height: 30vw;
    @include flex();
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3vw;
    margin-left: 3vw;
    @include respond-to($medium) {
      margin-left: 0;
    }

    .row {
      @include flex(center);
      text-decoration: none;
      width: 100%;
      height: 33%;

      &:nth-child(2) {
        border-top: 1px solid $light-blue;
        border-bottom: 1px solid $light-blue
      }
    }

    .text {
      padding-left: 3vw;
      color: white;
      width: 100%;
    }
  }

  input, textarea {
    padding-left: 28px;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    font-size: $f16;
    font-family: $font-family;
  }

  input {
    width: 25vw;
    height: 60px;
  }

  .your-name {
    margin-right: 2vw;
  }

  textarea {
    margin: 2vw 0;
    width: 52vw;
    padding-top: 28px;
  }

  input[type="submit"] {
    background: transparent;
    text-transform: uppercase;
    border: 1px solid $blue;
    color: $blue;
    max-width: 200px;
    height: 50px;
    font-size: $f18;
    font-weight: 500;
    padding: 0;
    transition: .3s;

    &:hover {
      color: white;
      background-color: $blue;
    }
  }
}


@include respond-to($medium) {
  .contact {
    display: block;
    padding: 0 0 10vw 0;
    display: flex;
    flex-direction: column-reverse;

    input {
      width: 35vw;
    }

    .your-name {
      margin-right: 2vw;
    }

    textarea {
      margin: 2vw 0;
      width: 72vw;
    }


    .column {
      text-align: center;
      display: grid;
      place-items: center;
      width: 100%;
      padding-left: 0;

      &.padding-l {
        padding: 0 30px;
      }

      .banner__text {
        width: 100%;
      }
    }

    .data {
      width: 100%;
      height: 150px;
      flex-direction: row;
      padding-left: 0;
      align-items: center;
      padding: 0 5vw;
      gap: 30px;
      flex-wrap: wrap;
      margin-top: 0;

      .row {
        flex: 1 1 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(2) {
          border-top: 0;
          border-bottom: 0;
        }

        .text {
          width: unset;
        }
      }
    }


  }
}

@include respond-to($small) {
  .contact {
    width: 100%;

    .column {
      width: 100%;

      input, textarea {
        width: 100%;
        margin-top: 32px;
      }

      .data {
        width: 100%;
        height: auto;
        padding: 25px;

        .row {
          padding: 25px 0;
        }

        .text {
          font-size: 14px;
        }

      }
    }
  }
}


