.contact {
  @include flex(flex-start, space-between);
  position: relative;
  padding-bottom: 5vw;

  .subpage-banner {
    flex-direction: column;
    gap: 2.5vw;
  }

  .data {
    background-color: $blue;
    color: white;
    right: 0;
    margin-top: 5vw;
    position: relative;
    width: 30vw;
    height: 30vw;
    @include flex();
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3vw;

    .row {
      @include flex(center);
      text-decoration: none;
      width: 100%;
      height: 33%;

      &:nth-child(2) {
        border-top: 1px solid $light-blue;
        border-bottom: 1px solid $light-blue
      }
    }

    .text {
      padding-left: 3vw;
      color: white;
      width: 100%;
    }
  }

  input, textarea {
    padding: 1.25vw;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    font-size: 16px;
    font-family: $font-family;
  }

  input {
    width: 20vw;
  }

  .your-name {
    margin-right: 2vw;
  }

  textarea {
    margin: 2vw 0;
    width: 42vw;
  }

  input[type="submit"] {
    background: transparent;
    text-transform: uppercase;
    border: 1px solid $blue;
    color: $blue;
    max-width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    transition: .3s;

    &:hover {
      color: white;
      background-color: $blue;
    }
  }
}

@include respond-to($medium) {
  .contact {
    display: block;
    padding: 10vw;

    .data {
      display: none;
    }

    .column {
      .banner__text {
        width: 100%;
      }
    }

    input {
      width: 280px;
    }

    .your-name {
      margin-right: 20px;
    }

    textarea {
      margin: 20px 0;
      width: 580px;
    }

    input[type="submit"] {
      background: transparent;
      text-transform: uppercase;
      border: 1px solid $black;
      color: $black;
      max-width: 200px;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      margin-bottom: 50px;
    }
  }
}

@include respond-to($small) {
  .contact {
    padding: 30px;
    width: 100%;

    .column {
      width: 100%;

      input, textarea {
        width: 100%;
        margin-top: 32px;
      }
    }
  }
}
