.footer {

  background-color: $grenade;
  @include flex();
  gap: 25px;
  padding: 0 15vw;

  @include respond-to($xl) {
    padding: 0 10vw;
  }
  @include respond-to($small) {
    padding: 0 30px;
  }

  .column {
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 50%;
    position: relative;

    .row {
      display: block;
      @include flex(center);
      max-width: 310px;
      padding-bottom: 30px;
      text-decoration: none;
      color: $white;

      a {
        color: $white;
      }

      .text {
        padding-left: 20px;
      }
    }

    .logo {
      padding-bottom: 50px;
    }

    .socials {
      opacity: 75%;
      padding-top: 30px;

      ul {
        li {
          a {
            span {
              color: $grenade;
              transition: .3s;
            }
          }
        }
      }
    }
  }
}

@include respond-to($small) {
  .footer {
    flex-direction: column;

    .map {
      padding-top: 0;
    }

    .column {
      width: 100%;

      #wpgmza_map {
        height: 200px !important;
        margin-top: 25px;
      }
    }
  }
}

