.join {
  background-color: $grey;
}

.company-form {
  max-width: 840px;

}

.join-us {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  .button {
    @include flex(center, center, row);

    img {
      height: 10px;
      margin-left: 14px;
      margin-right: 14px;
      margin-top: 18px;
      margin-bottom: 18px;
    }

    a {
      height: 42px;
      color: $blue !important;
    }

    &:hover {
      a {
        color: #fff !important;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .join-consent-wrapper {
    display: grid;
    grid-template-columns: 18px auto;

    .input-wrapper {
      width: 18px;
      height: 18px;
      border-radius: 18px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #c4c4c4;
      cursor: pointer;
      position: relative;

      * {
        cursor: pointer;
      }

      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        cursor: pointer;
        position: absolute;
      }
    }
  }

  .join-consent {
    margin-left: 10px;
  }

  &__subtitle {
    color: #0028c8;
    width: 100%;
    font-weight: 600;
    font-size: clamp(16px, 1.73vw, 18px);
    line-height: 26px;
    text-align: left;
  }

  &__title {
    background-color: #e5e5e5;
    height: 274px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    &--wrapper {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1280px;
      width: 100%;
    }

    &--main {
      font-size: $f36;
      line-height: 72px;
    }

    &--sub {
      font-size: $f24;
      color: $black;
      line-height: 32px;
      max-width: 410px;
    }
  }

  .progress-bar {
    max-width: 1410px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    transition: all .25s ease-in-out;
    margin-bottom: 78px;
    width: 100%;

    @include respond-to(960px) {
      width: 100%;
      margin-bottom: 0;
      align-items: flex-start;

      &__element {
        min-width: 0;
        width: 0;
        max-width: 0;
        opacity: 0;
        height: unset !important;

        &.active {
          opacity: 1;
          min-width: 100%;
          width: 100%;
          max-width: 100%;

          @include respond-to(765px) {
            min-width: unset !important;
            flex: none;
          }
        }

        p {
          max-width: unset !important;
        }
      }
    }

    * {
      transition: all .25s ease-in-out;
    }

    &__element {
      height: 167px;
      border-top: 2px solid #c4c4c4;
      position: relative;
      flex: 1 1 25%;

      @include respond-to(1070px) {
        border-top: none !important;
      }

      &:nth-of-type(4) {
        border: none !important;


        @include respond-to(1410px) {
          border-top: 2px solid #c4c4c4;
          max-width: 100vh;
        }
      }

      p {
        color: #c4c4c4;
        margin-top: 61px;
        height: 93px;
        font-weight: 600;
        font-size: $f18;
        line-height: 26px;
        padding-left: 5px;

        @include respond-to(1070px) {
          margin-top: 20px;
        }
      }


      &.active {
        border-top: 2px solid #0028c8;

        p {
          color: #0028c8;
        }

        &:before {
          content: '';
          background-color: #fff;
          border: 2px solid #0028c8;
        }

        &:after {
          background-color: #0028c8;
        }
      }

      &.past {
        border-top: 2px solid #0028c8;

        p {
          color: rgba(#0028c8, .5);
        }

        &:before {
          content: url(/wp-content/themes/zig-template/assets/tick.svg);
          background-color: #0028c8;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #0028c8;
        }

        &:after {
          content: none;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        background-color: #fff;
        border: 2px solid #c4c4c4;
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        border-radius: 30px;
        transition: all .25s ease-in-out;
      }

      &:after {
        content: '';
        transition: all .25s ease-in-out;
        top: -6px;
        left: 10px;
        height: 14px;
        width: 14px;
        position: absolute;
        background-color: white;
        border-radius: 14px;
      }
    }
  }

  .button-wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    text-transform: uppercase;
    margin: 78px 0;

    .button {
      height: 48px;
    }

    #prev-button {
      border: none;
    }

    @include respond-to($xl) {
      padding: 0 130px;
      .button {
        margin: 0;
      }
    }

    @include respond-to($medium) {
      padding: 0 10%;
    }

    @include respond-to($xs) {
      flex-flow: column-reverse;
      padding: 0;

      .button {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

#join-form {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row;

  @include respond-to(765px) {


    .step__content {
      width: calc(100% - 60px) !important;

      &.regulations {
        width: 100% !important;
        padding: 5%;
      }

      &.contributions {
        width: calc(100% - 50px) !important;
      }
    }
  }
  @include respond-to(1070px) {
    .step__content {
      &.contributions {
        width: calc(100% - 50px) !important;
      }
    }
  }


  .step {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all .35s ease-in-out;

    &__content {
      max-width: 1000px;
      width: 100%;
      min-height: 600px;

      & > h2 {
        font-size: 24px;
        @include respond-to($small) {
          font-size: 20px;
        }
      }

      & > h3 {
        font-size: 22px;
        @include respond-to($small) {
          font-size: 18px;
        }
      }

      & > h4 {
        font-size: 20px;
        @include respond-to($small) {
          font-size: 16px;
        }
      }

      & > p {
        text-align: left;
        font-size: 16px;
        @include respond-to($small) {
          font-size: 14px;
        }
      }
    }
  }

  input[type="radio"] {
    opacity: 0;
    cursor: pointer;
  }
}

.radio-button {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to(1070px) {
    width: 21px;
    height: 21px;
    border-radius: 21px;
    margin-right: 11px;
  }

  * {
    transition: all .25s ease-in-out;
  }

  &:hover {
    border-width: 3px;
  }


  &:before {
    content: "";
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 20px;
  }

  &.active {
    border: 3px solid $blue;

    &:before {
      background-color: $blue;
    }
  }

  &.error {
    border: 3px solid $red;

    &:before {
      background-color: $red;
    }
  }
}

.regulations {
  text-align: center;
  max-height: 600px !important;
  @include respond-to($medium) {
    padding: 0 10%;
  }

  &__content-wrapper {
    height: 100%;
    overflow: auto;
  }
}

.contributions {
  * {
    transition: all .25s ease-in-out;
  }

  &__header, &__row {
    display: grid;
    grid-template-columns: 67px clamp(275px, 30vw, 335px) repeat(2, clamp(215px, 30vw, 318px));

    @include respond-to(1070px) {
      grid-template-columns: 12% 88%;
      width: 100%;

      p {
        line-height: 50px;
      }
    }
  }

  &__header {
    @include respond-to(1070px) {
      display: none;
    }

    p {
      font-size: $f16;
      color: rgba($black, .5);
      padding-left: 40px;
      line-height: 72px;
    }
  }

  &__row {
    height: 72px;
    position: relative;
    border-top: 1px solid #eee;

    :nth-child(3) {
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
    }

    @include respond-to(1070px) {
      height: unset;

      p {
        line-height: 45px;
      }

      :nth-child(3) {
        display: none;
      }
      :nth-child(4) {
        display: none;
      }

      span {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
      }

      .gray {
        color: rgba(#343434, 0.5);
      }

      input[type="radio"] {
        height: 100%;
      }
    }

    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .checkbox-wrapper {
      @include flex(center, center, row);

      @include respond-to(1070px) {
        padding-top: 26px;
        align-items: flex-start;
      }
    }

    &:hover {
      p {
        background-color: #eee;
      }

      .radio-button {
        border-width: 3px !important;
      }
    }

    p {
      font-size: $f16;
      color: $black;
      padding-left: 40px;
      line-height: 72px;

      @include respond-to(1070px) {
        padding-left: 0;
        line-height: 24px;
        margin-top: 25px;
        padding-bottom: 25px;
      }

      span {
        margin-top: 25px;
        display: none;
      }
    }

    &.error {
      .radio-button {
        border-color: $red;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
  }
}

.text-input {
  &__row {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    width: 100%;
    gap: 36px;
    margin-top: -20px;
    margin-bottom: -20px;

    @include respond-to(840px) {
      flex-flow: column;
      gap: 0;
      margin-top: 0;
      margin-bottom: 0;

      .text-input__wrapper {
        flex: 1 1 100% !important;
        padding-bottom: 1px;
        min-height: 59px;
        margin-top: 0;
      }

      #established-input {
        margin-bottom: 15px;
      }
    }

    .text-input__wrapper {
      flex: 1 1 50%;
    }
  }

  &__wrapper {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    border: 1px solid #c4c4c4;
    position: relative;
    margin-bottom: 35px;

    * {
      transition: all .25s ease-in-out;
    }

    &.error {
      border: 1px solid $red !important;
    }

    &.focus {
      border: 2px solid #0028c8;

      .text-input__label {
        top: 0;
      }
    }

    &.has-value {
      border-color: #0028c8;

      .text-input__label {
        top: 0;
      }
    }

  }

  &__label {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 5px;
    pointer-events: none;
  }

  &__input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 28px;
    outline: none !important;
  }

  &__error {
    position: absolute;
    top: 60px;
    height: 25px;
    color: $red;
  }
}

.disabled {
  opacity: 0.7 !important;
  cursor: not-allowed;
}

.join-us-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  opacity: 0;
  transition: all .35s ease-in-out;
  background-color: rgba(#000, .4);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    background-color: $white;
    width: 100%;
    max-width: 610px;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 170px 55px;
    color: black;
    @include respond-to($small){
      padding: 0;
    }

  }

  &__title {
    font-size: $f36;
    margin-bottom: 36px;
  }

  &__text {
    font-size: $f24;
    margin-bottom: 54px;
  }
}

html.modal-open {
  overflow: hidden;

  .join-us-modal {
    opacity: 1;
    z-index: 9999;
  }
}

.no-text-transform {
  text-transform: none;
}

#form-error {
  margin-bottom: 0;
  font-size: $f24;
  color: $red;
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  &.visible {
    max-height: 100%;
    opacity: 1;
    margin-bottom: 50px;
  }
}

.um-263 {
  opacity: 0 !important;
  max-height: 0;
  overflow: hidden;
}

.declaration-button-wrapper {
  @include flex(center, center, row);

  p {
    margin-right: 14px;
  }
}

.declaration-icon {
  width: 18px;
  height: 23px !important;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.join-arrow-down {
  transform: rotate(270deg);
  width: 14px;
  height: 24px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.chevron-left {
  transform: scaleX(-1);
}

#declaration-button {
  height: 48px;
  min-height: 48px;
  line-height: 48px;
}
