.join {
  background-color: $grey;
}

.join-us {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  &__title {
    background-color: #e5e5e5;
    height: 274px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    &--wrapper {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1280px;
      width: 100%;
    }

    &--main {
      font-size: $f36;
      line-height: 72px;
    }

    &--sub {
      font-size: $f24;
      color: $black;
      line-height: 32px;
      max-width: 410px;
    }
  }

  .progress-bar {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    transition: all .25s ease-in-out;
    margin-bottom: 78px;

    @include respond-to(1280px) {
      width: 100vw;

      &__element {
        min-width: 0;
        width: 0;
        max-width: 0;
        opacity: 0;

        &.active {
          opacity: 1;
          min-width: 100vw;
          width: 100vw;
          max-width: 100vw;

          @include respond-to(765px) {
            min-width: unset !important;
            width: calc(100vw - 60px) !important;
          }
        }

        p {
          max-width: unset !important;
        }
      }
    }

    * {
      transition: all .25s ease-in-out;
    }

    &__element {
      height: 167px;
      width: 256px;
      border-top: 2px solid #c4c4c4;
      position: relative;

      p {
        color: #c4c4c4;
        margin-top: 61px;
        height: 93px;
        max-width: 164px;
        font-weight: 600;
        font-size: $f18;
        line-height: 26px;
        padding-left: 15px;
      }


      &.active {
        border-top: 2px solid #0028c8;

        p {
          color: #0028c8;
        }

        &:before {
          content: '';
          background-color: #fff;
          border: 2px solid #0028c8;
        }

        &:after {
          background-color: #0028c8;
        }
      }

      &.past {
        border-top: 2px solid #0028c8;

        p {
          color: rgba(#0028c8, .5);
        }

        &:before {
          content: url(/wp-content/themes/zig-template/assets/tick.svg);
          background-color: #0028c8;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #0028c8;
        }

        &:after {
          content: none;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: -16px;
        left: 0;
        background-color: #fff;
        border: 2px solid #c4c4c4;
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        border-radius: 30px;
        transition: all .25s ease-in-out;
      }

      &:after {
        content: '';
        transition: all .25s ease-in-out;
        top: -6px;
        left: 10px;
        height: 14px;
        width: 14px;
        position: absolute;
        background-color: white;
        border-radius: 14px;
      }
    }
  }

  .button-wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    text-transform: uppercase;
    margin: 78px 0;

    @include respond-to($xl) {
      padding: 0 130px;
      .button {
        margin: 0;
      }
    }

    @include respond-to($medium) {
      padding: 0 10%;
    }

    @include respond-to($xs) {
      flex-flow: column;

      .button {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

#join-form {
  width: 100vw;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row;

  @include respond-to(765px) {
    width: calc(100vw + 60px);
    padding: 30px;

    .step__content {
      width: calc(100% - 60px) !important;
    }
  }


  .step {
    min-width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all .35s ease-in-out;

    &__content {
      max-width: 1000px;
      width: 100%;
      min-height: 600px;

      & > h2 {
        font-size: 24px;
        @include respond-to($small) {
          font-size: 20px;
        }
      }

      & > h3 {
        font-size: 22px;
        @include respond-to($small) {
          font-size: 18px;
        }
      }

      & > h4 {
        font-size: 20px;
        @include respond-to($small) {
          font-size: 16px;
        }
      }

      & > p {
        text-align: left;
        font-size: 16px;
        @include respond-to($small) {
          font-size: 14px;
        }
      }
    }
  }

  input[type="radio"] {
    opacity: 0;
    cursor: pointer;
  }
}

.radio-button {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    transition: all .25s ease-in-out;
  }

  &:hover {
    border-width: 3px;
  }


  &:before {
    content: "";
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 20px;
  }

  &.active {
    border: 3px solid $blue;

    &:before {
      background-color: $blue;
    }
  }

  &.error {
    border: 3px solid $red;

    &:before {
      background-color: $red;
    }
  }
}

.regulations {
  text-align: center;
  padding: 0 130px;
  @include respond-to($medium) {
    padding: 0 10%;
  }
}

.contributions {
  * {
    transition: all .25s ease-in-out;
  }

  &__header, &__row {
    display: grid;
    grid-template-columns: 67px clamp(275px, 30vw, 318px) repeat(2, clamp(215px, 30vw, 318px));

    @include respond-to(900px) {
      grid-template-columns: 35% 65%;
      width: 100%;

      p {
        line-height: 50px;
      }
    }
  }

  &__header {
    @include respond-to(900px) {
      display: none;
    }

    p {
      font-size: $f16;
      color: rgba($black, .5);
      padding-left: 40px;
      line-height: 72px;
    }
  }

  &__row {
    height: 72px;
    position: relative;
    border-top: 1px solid #eee;

    :nth-child(3) {
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
    }

    @include respond-to(900px) {
      height: unset;

      p {
        line-height: 45px;
      }

      :nth-child(3) {
        display: none;
      }
      :nth-child(4) {
        display: none;
      }

      span {
        display: block !important;
      }

      input[type="radio"] {
        height: 100%;
      }
    }

    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .checkbox-wrapper {
      @include flex(center, center, row);
    }

    &:hover {
      p {
        background-color: #eee;
      }

      .radio-button {
        border-width: 3px !important;
      }
    }

    p {
      font-size: $f16;
      color: $black;
      padding-left: 40px;
      line-height: 72px;

      span {
        display: none;
      }
    }

    &.error {
      .radio-button {
        border-color: $red;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
  }
}

.text-input {
  &__wrapper {
    margin-top: 20px;
    height: 60px;
    width: 405px;
    border: 1px solid #c4c4c4;
    position: relative;
    margin-bottom: 35px;

    * {
      transition: all .25s ease-in-out;
    }

    &.error {
      border: 1px solid $red !important;
    }

    &.focus {
      border: 2px solid #0028c8;

      .text-input__label {
        top: 0;
      }
    }

    &.has-value {
      border-color: #0028c8;

      .text-input__label {
        top: 0;
      }
    }

  }

  &__label {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 5px;
    pointer-events: none;
  }

  &__input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 28px;
    outline: none !important;
  }

  &__error {
    position: absolute;
    top: 60px;
    height: 25px;
    color: $red;
  }
}

.disabled {
  opacity: 0.7 !important;
  cursor: not-allowed;
}

.join-us-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  opacity: 0;
  transition: all .35s ease-in-out;
  background-color: rgba(#000, .4);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    background-color: $white;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 170px 55px;
    color: black;
  }

  &__title {
    font-size: $f24;
    margin-bottom: 36px;
  }

  &__text {
    font-size: $f16;
    margin-bottom: 54px;
  }
}

html.modal-open {
  overflow: hidden;

  .join-us-modal {
    opacity: 1;
    z-index: 9999;
  }
}

.no-text-transform {
  text-transform: none;
}

#form-error {
  margin-bottom: 0;
  font-size: $f24;
  color: $red;
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  &.visible {
    max-height: 100%;
    opacity: 1;
    margin-bottom: 50px;
  }
}

.um-263 {
  opacity: 0 !important;
  max-height: 0;
  overflow: hidden;
}
