@mixin flex($align-items: start, $justify-content: flex-start, $flex-direction: row) {
  display: flex;
  display: -webkit-flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;

}

@mixin respond-to($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin line-clamp($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
/* update comment */
