.opportunities {

  .video-wrapper {
    background: linear-gradient(to bottom, white 0%, white 50%, $grey 50.01%, $grey 100%);
    padding-top: clamp(50px, 5vw, 100px);;
    padding-bottom: clamp(50px, 5vw, 100px);;
  }

  .video {
    width: 100%;
    height: 37vw;
    margin: 0 auto;
  }

  .cards {
    background-color: $grey;
    padding-top: clamp(50px, 5vw, 100px);;
    padding-bottom: clamp(50px, 5vw, 100px);;

    .card {
      @include flex();
      position: relative;
      margin-top: clamp(50px, 5vw, 100px);

      .column {
        width: 50%;
        position: relative;
        height: 22vw;

        @include respond-to($xxl){
          height: 25vw;
        }
        @include respond-to($large){
          height: 30vw;
        }


        &:nth-child(1) {
          top: -20px;
        }

        &:nth-child(2) {
          top: +20px;
        }
      }

      .content {
        background-color: $white;
        padding: clamp(25px, 3vw, 70px);
        @include flex(start, space-between, column);
        grid-gap: 10px;

        .title {
          font-size: $f36;
          color: $blue;
          font-weight: bold;
          text-decoration: underline;
          text-underline-offset: .5vw;

          @include respond-to($small) {
            text-underline-offset: 5px;
            text-decoration-thickness: 3px;
          }
        }

        .text {
          font-size: $f18;
          line-height: 150%;
          padding: 25px 0;

        }
      }

      .img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }

  .join {
    background-color: $blue;
    background-image: url('/wp-content/themes/zig-template/assets/mozliwosci.png');
    background-size: cover;

    padding-top: 12vw;
    padding-bottom: 12vw;
    position: relative;
    text-align: center;

    & > div {
      display: grid;
      place-items: center;
      grid-gap: 2.5vw;
    }

    .subpage-title {
      text-decoration: none;
    }
  }
}

@include respond-to($medium) {
  .opportunities {
    .cards {
      .card {
        flex-direction: column;
        height: auto;


        .img {
          order: 1;
          height: 33vw;
        }

        .content {
          order: 2;
        }

        .column {
          width: 100%;
          height: auto;


          &:nth-child(1) {
            top: unset;
          }

          &:nth-child(2) {
            top: unset;
          }
        }
      }
    }

    .join {
      &:before {
        display: none;
      }
    }

  }
}

@include respond-to($small) {
  .opportunities {
    .video {
      width: 100%;
      height: auto;
    }
  }

}
