.perspectives {
  .filter-wrapper {
    @include flex();
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: clamp(50px, 5vw, 100px);;
  }

  .button {
    font-size: 14px;
    min-width: unset;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5vw;
  }

  .card {
    border-bottom: 3px solid $grey;
    padding-bottom: 30px;

    h2 {
      font-size: 22px;
      font-weight: 500;
      line-height: 150%;
      padding: 30px 30px 0 30px;

      a {
        color: $black;
      }
    }

    p {
      font-size: 16px;
      line-height: 150%;
      color: $black;
      padding: 30px 30px 0 30px;
    }

    button {
      padding: 30px 30px 0 30px;
    }

    &:nth-child(even) {
      position: relative;
      top: 100px;
    }

    img {
      width: 100%;
      height: 17.5vw;
      object-fit: cover;
    }
  }

  .question {
    text-align: center;
    padding-top: clamp(50px, 5vw, 100px);;
    padding-bottom: clamp(50px, 5vw, 100px);;
    font-size: clamp(18px, 2vw, 36px);
    font-weight: 500;

    .button {
      margin-top: 2.5vw;
    }
  }
}

@include respond-to($small) {
  .perspectives {
    .filter-wrapper {
      gap: 5px;

      & > a .button {
        font-size: 10px;
        padding: 5px 10px;
      }
    }


    .cards {
      grid-template-columns: 1fr;
    }

    .card {
      img {
        height: 300px;
      }

      &:nth-child(even) {
        top: unset;
        padding-bottom: 25px;
      }
    }
  }
}
