.read-more {
  border: none;
  color: $black;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  font-family: $font-family;
  position: relative;
  transition: .3s;
  @include respond-to($small) {
    font-size: 14px;
  }

  &:hover &::after{
    margin-left: 40px;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  &::after {
    content: url("/wp-content/themes/zig-template/assets/arrow-right.svg");
    margin-left: 20px;
  }

  &.light-blue {
    color: $light-blue;

    a {
      color: $light-blue;
    }

    &::after {
      content: "";
      display: inline-block;
      height: 14px;
      width: 25px;
      background-size: 25px 14px;
      background-image: url("/wp-content/themes/zig-template/assets/arrow-right-light-blue.svg");
      background-repeat: no-repeat;
    }
  }
}
