.img-banner {
  background-image: url('/wp-content/themes/zig-template/assets/single-banner.png');
  width: 100%;
  height: 66vh;
  background-size: cover;
  @include respond-to($small) {
    height: 30vh;
  }
}

.single-wrapper {
  background-color: white;
  margin-top: -33vh;
  padding: 5vw 10vw;
  display: flex;
  flex-direction: column;
  @include respond-to($small) {
    padding: 0;
    margin-top: 25px;
  }

  .category {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1.25vw;
    order: 1;

    a {
      color: $blue;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .date {
    order: 3;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #c4c4c4;
    padding-bottom: 5vw;
    text-transform: uppercase;
  }

  h2 {
    font-size: clamp(20px, 2vw, 36px);
    text-align: center;
    padding-bottom: 1.25vw;
    order: 2;
  }

  p {
    order: 4;
    padding: 1.25vw 0;
  }

  .wp-block-image {
    order: 4;

    img {
      object-fit: cover;
      max-height: 60vh;
      @include respond-to($small) {
        max-height: 30vh;
      }
    }
  }

}


