.subpage-banner {
  @include flex();
  padding-top: 5vw;
  padding-bottom: 5vw;

  .column {
    width: 50%;
    @include flex($flex-direction: column)
  }

  .subpage-title {
    margin-right: 20px;
  }
}

@include respond-to($small) {

  .subpage-banner {
    flex-direction: column;
    grid-gap: 25px;

    .column {
      width: 100%;
    }
  }
}
