.frontpage-title {
  color: white;
  line-height: 150%;
  text-decoration: underline;
  text-underline-offset: 1.3vh;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 72px;

  @include respond-to($xl) {
    font-size: clamp(34px, 10vw, 64px);
  }
  @include respond-to($large) {
    font-size: clamp(34px, 10vw, 42px);
  }
  @include respond-to($xxs) {
    font-size: 30px;
  }
  @include respond-to($xxs){
    font-size: 30px;
  }
}

.subpage-title {
  color: $blue;
  font-size: clamp(24px, 2.3vw, 48px);
  font-weight: bold;
  line-height: 150%;
  text-decoration: underline;
  text-underline-offset: .5vw;

  &.white {
    color: white;
  }
}

.subpage-text {
  font-size: clamp(16px, 1.25vw, 24px);
  font-weight: 500;

  p {
    padding-bottom: 10px;
  }
}

.subpage-header {
  font-size: clamp(24px, 2vw, 36px);
  font-weight: 500;
  padding-top: 5vw;
  padding-bottom: 5vw;

  &.white {
    color: white;
  }
}
