.announcements {
  background-color: $grey;
  padding-top: 100px;
  padding-bottom: 188px;

  &__cards {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__card {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 95%;
    padding: 40px;
    transition: border .2s;

    &:nth-child(1) {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }

    &:nth-child(2) {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }

    &:nth-child(3) {
      border-bottom: 1px solid $black;

      &:hover {
        margin-top: -1px;
        border: 1px solid $red;
      }
    }

    &:nth-child(4) {
      border-bottom: 1px solid $black;

      &:hover {
        margin-top: -1px;
        border: 1px solid $red;
      }
    }

    &:hover {
      border: 1px solid $red;
    }

    .title {
      width: 536px;

      a {
        color: $black;
        text-decoration: none;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 20px;
        display: block;
        font-weight: 500;
      }
    }
  }
}

@include respond-to($xl) {
  .announcements {
    padding-bottom: 120px;

    &__cards {
      padding-top: 36px;
    }

    &__card {
      .title {
        width: 95%;

        a {
          font-size: 20px;
        }
      }
    }
  }
}

@include respond-to($large) {
  .announcements {
    padding-top: 50px;
  }
}


@include respond-to($small) {
  .announcements {

    &__cards {
      grid-template-columns: 1fr;
      padding-top: 50px;

    }

    &__card {
      width: 100%;
      padding: 10px;

      .title a {
        font-size: 14px;
      }

      .read-more {
        font-size: 14px;
      }
    }
  }
}
