.announcements {
  background-color: $grey;
  padding-top: 100px;
  padding-bottom: 100px;

  &__cards {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  &__card {
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 100%;
    padding: 30px;
    transition: .2s;

    &:hover {
      border: 1px solid $red;
    }

    .title a {
      color: $black;
      text-decoration: none;
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 20px;
      display: block;
    }
  }
}

@include respond-to($small) {
  .announcements {

    &__cards {
      grid-template-columns: 1fr;
    }
  }
}
