.button {
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 700;
  min-width: 210px;
  min-height: 44px;
  margin-right: 26px;
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  text-transform: uppercase;
  font-family: $font-family;
  transition: .3s;
  cursor: pointer;
  text-align: center;

  &.white {
    border: 1px solid $white;
    color: $white;
  }

  &.light-blue {
    border: 1px solid $light-blue;
    color: $light-blue;

    &:hover {
      color: $blue;
      border: 1px solid $white;
      background-color: $white;

    }
  }

  &.blue {
    border: 1px solid $blue;
    color: $blue;

  }

  &.grenade {
    border: 1px solid $grenade;
    color: $grenade;
  }
}

@include respond-to($xl) {
  .button {
    min-height: 40px;
  }
}

@include respond-to($large) {
  .button {
    min-width: 140px;
    min-height: 32px;
  }
}

@include respond-to($medium) {
  .button {
    font-size: 14px;
    margin-right: 15px;
  }
}



