.events {
  background-color: $grey;

  .cards {
    padding-bottom: clamp(25px, 2.5vw, 50px);
  }

  .card {
    background-color: $white;
    @include flex(center, space-between);
    margin-bottom: clamp(25px, 2.5vw, 50px);;
    height: 22vw;
    overflow: hidden;
  }

  .button {
    max-width: 250px;
  }

  .content {
    width: 50%;
    padding: clamp(25px, 2.5vw, 50px);
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: clamp(18px, 2vw, 36px);
      line-height: 150%;
      font-weight: bold;
    }

    .text {
      font-size: 18px;
      line-height: 150%;
      padding: 1.25vw 0;
    }
  }

  .img {
    width: 50%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@include respond-to($medium) {
  .events {
    .card {
      height: 300px;
    }
  }
}

@include respond-to($small) {
  .events {

    .button{
      max-width: 175px;
    }

    .card {
      flex-direction: column-reverse;
      height: 450px;
    }

    .content {
      width: 100%;

      .text {
        font-size: 14px;
      }
    }

    .img {
      width: 100%;
      height: 300px;
    }
  }
}


