.header {
  &__logo {
    z-index: 3;
  }

  @include flex(center, space-between);
  padding: $site-padding-desktop;
  height: 80px;

  &__nav {
    @include flex(center);
    list-style: none;
  }

  li a {
    text-decoration: none;
    margin-right: 40px;
    color: $black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'roboto';

    .join {
      background-color: $blue;
      color: $white;
      padding: 10px 20px;
    }
  }

  li.join a {
    background-color: $blue;
    color: $white;
    padding: 10px 20px;
  }

  li.phone a {
    color: $blue;
    font-weight: bold;
    @include flex(center, center);
    position: relative;

    &::before {
      content: url("/wp-content/themes/zig-template/assets/phone-blue.svg");
      position: relative;
      margin-right: 5px;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    z-index: 2;

    &__text {
      font-size: 10px;
      font-weight: bold;
      color: $blue;
    }

    &__line {
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: $blue;
      transition: .2s;
    }
  }
}

//hamburger animation
.active .hamburger__line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.active .hamburger__line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@include respond-to($xl) {
  .header {
    padding: $site-padding-tablet;

    &__nav {
      position: fixed;
      z-index: 2;
      background-color: #fff;
      top: 0;
      right: -100%;
      width: 33%;
      height: 100vh;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      padding-left: 50px;
      transition: .3s;

      &.active {
        right: 0;
      }
    }

    .hamburger {
      @include flex(center, center, column);
    }
  }
}

@include respond-to($medium) {
  .header {
    &__logo {
      height: 33px;

      img {
        height: 100%;
      }
    }

    height: 60px;
    padding: $site-padding-mobile;

    &__nav {
      width: 50%;
    }

    .hamburger {

      &__line {
        width: 20px;
        height: 2px;
        margin: 3px;
      }
    }
  }
  //hamburger animation
  .active .hamburger__line:nth-child(1) {
    transform: rotate(-45deg) translate(-2px, 5px);
  }

  .active .hamburger__line:nth-child(2) {
    opacity: 0;
  }

  .active .hamburger__line:nth-child(3) {
    transform: rotate(45deg) translate(-2px, -5px);
  }
}

@include respond-to($small) {
  .header {

    &__nav {
      width: 100%;
      padding-left: 0;
      align-items: center;
    }

    .hamburger {

      &__line {
        width: 20px;
        height: 2px;
        margin: 3px;
      }
    }
  }
  //hamburger animation
  .active .hamburger__line:nth-child(1) {
    transform: rotate(-45deg) translate(-2px, 5px);
  }

  .active .hamburger__line:nth-child(2) {
    opacity: 0;
  }

  .active .hamburger__line:nth-child(3) {
    transform: rotate(45deg) translate(-2px, -5px);
  }
}

