.motto {
  padding-top: 130px;
  padding-bottom: 140px;

  &__title {
    font-size: 64px;
    font-weight: 500;
    line-height: 85px;
  }

  &__subtitle {
    padding-top: 50px;
    width: 50%;
    left: 50%;
    position: relative;
    font-size: 24px;
    color: $blue;
  }
}

@include respond-to($large) {
  .motto {
    &__title {
      font-size: 48px;
    }

    &__subtitle {
      padding-top: 50px;
      font-size: 20px;
    }
  }
}
@include respond-to($small) {
  .motto {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      width: 100%;
      left: 0;
      padding-top: 25px;
      font-size: 14px;
    }
  }
}
