.news {
  background-color: $grey;
  padding-top: 135px;

  &__title {
    width: 35%;
    padding-bottom: 85px;
  }

  button{
    margin-top: 60px;
    width: 240px;
  }
  .owl-prev{
    display: none !important;
  }
  .psac-slider-and-carousel .owl-nav .owl-next{
    right: 240px !important;
  }
}

@include respond-to($large) {
  .news {
    padding-top: 300px;

    &__title {
      width: 90%;
    }
  }
}

@include respond-to($small) {
  .news {
    padding-top: 50px;

    .button {
      width: 100%;
    }
  }
}
