.news {
  background-color: $grey;
  padding-top: 135px;

  &__title {
    width: 35%;
    padding-bottom: 50px;
  }

  button{
    margin-top: 60px;
    width: 240px;
  }

}
@include respond-to($xl){
  .news{
    padding-top: 100px;
  }
}

@include respond-to($large) {
  .news {
    padding-top: 150px;

    &__title {
      width: 90%;
    }
  }
 }

@include respond-to($small) {
  .news {
    padding-top: 50px;

    .button {
      width: 100%;
    }
  }
}
