.hero {
  height: 722px;
  width: 100vw;
  @include flex();

  .wrapper {
    width: 50%;
    height: 100%;
    background-color: $blue;
    padding-left: $content-padding-desktop;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .socials {
    opacity: 75%;
    padding-top: 50px;

    ul {
      li {
        a {
          span {
            color: $blue;
          }
        }
      }
    }
  }

  &__text {
    color: $white;
    font-size: 24px;
    padding: 50px 0;
    width: 80%;
  }

  &__image {
    width: 50%;
    height: 100%;
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    position: relative;
    background-position: center top;

    .post {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  &__description {
    background-color: $grenade;
    color: $white;
    width: 661px;
    height: 272px;
    position: relative;
    top: -168px;
    padding: 50px;

    & .title {
      font-size: 24px;
    }

    & .text {
      width: 523px;
      padding: 20px 0;
    }
  }
}

@include respond-to($xxl) {
  .hero {
    .wrapper {
      padding-left: $content-padding-tablet;
    }

    &__title {
      width: 60%;
    }

    &__description {
      width: 85%;

      & .title {
        font-size: 20px;
      }

      & .text {
        font-size: 14px;
        padding: 20px 0;
      }
    }
  }
}

@include respond-to($xl) {
  .hero {
    height: 553px;

    &__description {
      width: 80%;
      top: -148px;
      height: 218px;
      padding: 24px 40px;

      & .title {
        font-size: 20px;
      }

      & .text {
        font-size: 14px;
        padding: 14px 90px 0 0;
      }
    }

    &__text {
      font-size: 20px;
      padding: 20px 0;
    }
  }
}

@include respond-to($large) {
  .hero {
    height: 450px;

    .wrapper {
      padding-left: 50px;
    }

    &__text {
      font-size: 18px;
    }

    &__description {
      width: 100%;
    }
  }
}

@include respond-to($medium) {
  .hero {
    &__description {
      height: auto;
      top: -10%;

      .text {
        display: none;
      }
    }
  }
}

@include respond-to($small) {
  .hero {
    height: 400px;

    &__description {
      padding: 20px;

      .title {
        font-size: 18px;
      }
    }

    .socials {
      padding-top: 25px;
    }
  }
}

@include respond-to($w650) {
  .hero {
    height: auto;
    width: 100vw;
    flex-direction: column;


    .wrapper {
      width: 100%;
      padding: 25px $content-padding-mobile;
    }

    &__text {
      font-size: 16px;
      padding: 25px 0;
      width: 100%;
    }

    & .socials {
      padding-top: 30px;

      .social-icon {
        font-size: 16px !important;
        padding: 6px !important;
      }
    }

    &__image {
      width: 100%;
      height: 220px;

      .post {
        height: 100%;
      }
    }

    &__description {
      top: 0;
      height: auto;
      width: 100%;
      padding: $content-padding-mobile;

      .title {
        font-size: 18px;
      }

      .text {
        width: 100%;
        padding: 14px 0;
        font-size: 13px;
      }
    }
  }
}
