.perspectives {
  .cards {
    padding-bottom: 100px;
    @include flex(center, space-between);

    .card {
      @include flex(start, space-between, column);
      color: $blue;
      height: 200px;
      width: 405px;
      border: 1px solid $blue;
      padding: 20px;

      .number {
        font-size: 48px;
        line-height: 72px;
        font-weight: bold;
      }

      .title {
        font-size: 18px;
        line-height: 16px;
        font-weight: bold;
      }
    }
  }
}

.ajax-load-more-wrap {
  background-color: $grey;
  padding-top: 120px;
  padding-bottom: 110px;

  .alm-btn-wrap {
    text-align: center;
    margin-top: 120px;

    .alm-load-more-btn {
      font-size: 16px;
      padding: 10px 20px;
      font-weight: 700;
      min-width: 210px;
      min-height: 44px;
      background-color: transparent;
      border: 1px solid $grenade;
      color: $grenade;
      text-transform: uppercase;
      font-family: $font-family;
      transition: .3s;
      cursor: pointer;
    }

  }

  .alm-reveal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;

    .alm-item {
      background-color: $white;
      list-style: none;
      height: 460px;
      @include flex();
      flex-direction: column;

      img {
        width: 100% !important;
        height: 230px !important;
        object-fit: cover;
        order: 1;
      }

      h3 {
        order: 3;
        font-size: 22px;
        font-weight: 500;
        padding-left: 30px;

        a {
          color: $black;
          text-decoration: none;
        }
      }

      .entry-meta {
        order: 2;
        padding: 30px;
        font-size: 14px;
      }

      p:last-child {
        display: none;
      }


    }
  }
}

.question {
  height: 600px;
  background-image: url('/wp-content/themes/zig-template/assets/question-blue-bg.svg');
  background-repeat: no-repeat;

  .container {
    @include flex();
  }

  .img {
    width: 50%;

    img {
      height: 600px;
    }
  }

  .content {
    width: 50%;
    padding: 200px 40px 300px 0px;

    .title {
      font-size: 36px;
      font-weight: 500;
      line-height: 48px;
      padding-bottom: 56px;
    }
  }

}
