.semiopaque {
  opacity: 0.3;
}

.psac-post-carousel-wrp {
  width: 1720px !important;
}

.carousel {
  position: relative;
}

.post-carousel {
  .owl-prev {
    display: none !important;
  }

  .psac-slider-and-carousel .owl-nav .owl-next {
    right: 240px !important;
  }

  .psac-post-carousel-content {
    height: 460px;
    background-color: #ffffff;
    border: none;

    .psac-post-margin-content {
      text-align: left;
      display: flex;
      flex-direction: column;
      padding: 30px !important;
    }

    .psac-post-title {
      position: relative;
      min-height: 70px;
      order: 2;

      a {
        color: $black;
        font-size: 22px;
        font-weight: 500;
      }
    }

    .psac-post-meta {
      position: relative;
      order: 1;
      padding-top: 10px;
      left: -4px;

      span {
        font-style: normal;
        font-size: 14px;
      }
    }

    .psac-post-content {
      order: 3;

      .psac-readmorebtn {
        border: none;
        color: $grenade;
        padding: 0;
        font-size: 18px;

        &:hover {
          color: $black;
          background-color: #fff;
        }

        &::after {
          content: url("/wp-content/themes/zig-template/assets/arrow-right.svg");
          padding-left: 30px;
        }
      }
    }

    .psac-post-short-content {
      display: none;
    }
  }
}

//users carousel
.users-carousel {
  .psac-post-carousel-content {
    text-align: left !important;

    h2 {
      font-size: 18px !important;
    }
  }
}

//full width blue carousel
.full-width-carousel {
  background-color: $blue;
  position: relative;
  z-index: 2;
  margin-bottom: -19px;

  .psac-post-carousel-wrp {
    width: 100vw !important;
  }

  .psac-post-carousel-content {
    display: flex;

    .psac-post-img-wrap {
      width: 50%;
      display: block;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        opacity: 50%;
        z-index: 3;
      }
    }

    .psac-post-margin-content {
      width: 50%;
      background-color: $blue;
      color: $white;
      text-align: left;
      padding: 220px 320px 280px 135px;

      .psac-post-title a {
        color: $white;
        font-size: 30px;
        font-weight: 400;
      }

      .psac-post-short-content {
        color: $white;
        font-size: 16px;
        padding-top: 40px;
      }

      .psac-readmorebtn {
        border: none;
        color: $light-blue;
        padding: 0;
        font-size: 18px;

        &:hover {
          color: $black;
          background-color: #fff;
        }

        &::after {
          content: url("/wp-content/themes/zig-template/assets/arrow-right-light-blue.svg");
          padding-left: 30px;
        }
      }
    }
  }
}

//arrows

.psac-slider-and-carousel .owl-nav .owl-prev, .psac-slider-and-carousel .owl-nav .owl-next {
  background-color: $light-blue;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  @include respond-to($xl) {
    width: 50px;
    height: 50px;
  }
}

.psac-slider-and-carousel .owl-nav .owl-next {
  right: 100px !important;

  &:hover {
    background-color: $grenade;

    &:before {
      content: url("/wp-content/themes/zig-template/assets/arrow-right-light-blue.svg");
    }
  }

  &:before {
    content: url("/wp-content/themes/zig-template/assets/arrow-right-grenade.svg");
  }
}

.psac-slider-and-carousel .owl-nav .owl-prev {
  left: 100px !important;

  &:hover {
    background-color: $grenade;

    &:before {
      content: url("/wp-content/themes/zig-template/assets/arrow-right-light-blue.svg");
    }
  }

  &:before {
    content: url("/wp-content/themes/zig-template/assets/arrow-right.svg");
  }
}

//remove border on hover
.psac-post-carousel.psac-design-2 .psac-post-carousel-slide:hover .psac-post-carousel-content {
  border: none;
}

.psac-post-carousel.psac-design-2 .psac-post-carousel-slide .psac-post-carousel-content {
  border: none;
}

@include respond-to($xxl) {
  .full-width-carousel {
    margin-bottom: -49px;
  }
}

@include respond-to($xl) {
  .post-carousel {
    .psac-slider-and-carousel .owl-nav .owl-next {
      right: 280px !important;
    }

    .psac-post-carousel-wrp {
      width: 1480px !important;
    }

    .psac-post-carousel-content {
      height: 390px;

      .psac-post-margin-content {
        padding: 20px !important;
      }

      .psac-post-title {
        a {
          font-size: 16px;
        }
      }

      .psac-post-meta {
        margin: 0;
      }

      .psac-post-content {
        .psac-readmorebtn {
          font-size: 16px;

          &::after {
            padding-left: 25px;
          }
        }
      }
    }

    .psac-post-image-bg {
      height: 195px !important;
    }
  }
  .full-width-carousel {
    .psac-post-carousel-content {
      height: 720px;
      .psac-post-margin-content{
        padding: 200px 0 50px 70px
      }
    }

  }
}





