.read-more {
  border: none;
  color: $black;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;

  a{
    color: $black;
    text-decoration: none;
  }

  &::after {
    content: url("/wp-content/themes/zig-template/assets/arrow-right.svg");
    margin-left: 10px;
  }

  &.light-blue {
    color: $light-blue;

    a{
      color: $light-blue;
    }

    &::after {
      content: url("/wp-content/themes/zig-template/assets/arrow-right-light-blue.svg");
      margin-left: 10px;
    }
  }
}
