.slogan{
  padding-top: 140px;
  padding-bottom: 170px;
  @include flex;

  &--white-bg{
    background-color: $white;

  }
  &__title{
    width: 50%;
  }
  &__text{
    width: 625px;
    font-size: 36px;
    color: $black;
  }
}

@include respond-to($xxl){
  .slogan{
    padding-top:75px;
    padding-bottom:75px;
    &__text{
      font-size: 24px;
    }
  }
}

@include respond-to($small){
  .slogan{
    padding-top: 50px;
    padding-bottom: 50px;

    flex-direction: column;
&__title{
  width: 100%;
  padding-bottom: 25px;
}
    &__text{
      width: 100%;
      font-size: 16px;
    }
  }
}
