.main-title {
  font-size: 72px;
  font-weight: bold;
  line-height: 110px;
  color: $white;
  text-transform: uppercase;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 25px;

  &--blue {
    color: $blue;
  }

  @include respond-to($xl) {
    font-size: 64px;
    line-height: 96px;
  }
  @include respond-to($large) {
    font-size: 50px;
    line-height: 75px;
  }
  @include respond-to($small) {
    font-size: 34px;
    line-height: 54px;
  }
}

.sub-title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  @include respond-to($xl) {
    font-size: 40px;
    line-height: 60px;
  }
  @include respond-to($large) {
    font-size: 32px;
    line-height: 50px;
  }
  @include respond-to($small) {
    font-size: 24px;
    line-height: 32px;
  }
}


.banner {
  @include flex();
  padding-top: 100px;
  padding-bottom: 100px;

  &__title {
    width: 50%;
    font-size: 48px;
    line-height: 72px;
    color: $blue;
    font-weight: bold;
    padding-right: 50px;
    text-underline-offset: 16px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 7px;
  }

  &__text {
    width: 50%;
    font-size: 24px;
    small{
      display: block;
      padding-top: 28px;
    }
  }
}

@include respond-to($xl) {
  .banner {
    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@include respond-to($small) {
  .banner {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;

    &__title {
      font-size: 24px;
      width: 100%;
    }

    &__text {
      font-size: 18px;
      width: 100%;
    }
  }
}



